.about {
    padding-top: 50px;
}
.about h1 {
    font-family: "PT Sans Narrow", monospace, sans-serif;
    text-align: center;
    font-weight: bolder;
    display: none;
    
}
.about .about-bg {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.about .about-bg img {
    display: block;
    width: 500px;
    margin: 0 auto;
    position: relative;
    transform: scale(1);
}
.description {
    width: 100%;
    font-family: "PT Sans Narrow", monospace, sans-serif;
    font-size: 1.2em;
    margin-bottom: 50px;
    overflow: auto;
}
.name {
    width: 29%;
    float: left;
    box-sizing: border-box;
}
.character {
    width: 70%;
    float: left;
    border-left: 5px solid black;
    min-width: 0px;
    overflow: hidden;
}
.name p {
    font-size: 2em;
    text-align: right;
    padding: 0px 20px;
    margin: 0;
}
.name p span {
    font-size: 2.5em;
    text-shadow: 5px 5px gray;
}
.character p {
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
}
.character p:first-child {
    width: 670px;
    background-color: #bbd27d;
}
.character p:nth-child(2) {
    width: 455px;
    background-color: #8dc3da;
}
.character p:nth-child(3) {
    width: 425px;
    background-color: #e5d88f;
}
.character p:nth-child(4) {
    width: 640px;
    background-color: #f48b8b;
}
.character p:nth-child(5) {
    width: 590px;
    background-color: #b5b5a9;
}
.character p span {
    font-weight: bold;
    background-color: white;
}

.left {
    position: absolute;
    left: 0;
    display: none;
    z-index: -1; 
}
.right {
    position: absolute;
    right: 0;
    display: none;
    z-index: -1;
}

.show {
    display: block;
}
.left.ani1 {top: 2%;} 
.left.ani2 {top: 20%;}
.left.ani3 {top: 30%;}
.left.ani4 {top: 55%;}
.left.ani5 {top: 70%;}
.left.ani6 {top: 88%;}
        
.right.ani1 {top: 2%;} 
.right.ani2 {top: 10%;}
.right.ani3 {top: 30%;}
.right.ani4 {top: 45%;}
.right.ani5 {top: 70%;}
.right.ani6 {top: 78%;}
        
.animated-left {
    animation: expand .5s ease-in-out;
    -webkit-animation: expand .5s ease-in-out;
}
.animated-right {
    animation: expand-reverse .5s ease-in-out;
    -webkit-animation: expand-reverse .5s ease-in-out;
}
@keyframes expand {
    0% {left: -1000px;}
    100% {left: 0;}
}
@-webkit-keyframes expand {
    0% {left: -1000px;}
    100% {left: 0;}
}
@keyframes expand-reverse {
    0% {right: -1000px}
    100% {right: 0}
}
@-webkit-keyframes expand-reverse {
    0% {right: -1000px}
    100% {right: 0}
}

.animated-scale {
    animation: ani-scale 10s ease-in-out infinite;
    -webkit-animation: ani-scale 10s ease-in-out infite;
}

@keyframes ani-scale {
    0% {transform: scale(1)}
    15% {transform: scale(1.7)}
    45% {transform: scale(1.5)}
    55% {transform: scale(3)}
    72% {transform: scale(1.5)}
    75% {transform: scale(1.55)}
    85% {transform: scale(0.97)}
    100% {transform: scale(1)}
}
@-webkit-keyframes ani-scale {
    0% {transform: scale(1)}
    15% {transform: scale(1.7)}
    45% {transform: scale(1.5)}
    55% {transform: scale(3)}
    72% {transform: scale(1.5)}
    75% {transform: scale(1.55)}
    85% {transform: scale(0.97)}
    100% {transform: scale(1)}
}
.animated-width {
    animation: show-width 1s ease-in-out;
    -webkit-animation: show-width 1s ease-in-out;
}
@keyframes show-width {
    0% {width: 0;}
    100% {width: 70%};
}
@-webkit-keyframes show-width {
    0% {width: 0;}
    100% {width: 70%};
}

.contact-info {
    overflow: auto;
}
.contact-info div {
    width: 33.33%;
    float: left;
    text-align: center;
}