.contact-me h4 {
    background-color: white;
    text-align: center;
    font-family: "Homemade Apple", serif;
    padding: 5px 0;
    font-size: 2em;
}
.contact-me img {
    width: 200px;
    margin: -100px auto 0;
    display: block;
    position: relative;
    z-index: 5;
}
.contact-me hr {
    display: none;
}
.contact-me {
    background-image: url('/Images/rose-overlay.png');
    background-attachment: fixed;
    background-size: 15%;
}
.contact-me .job-wrapper {
    overflow: auto;
    height: 500px;
}
.job-wrapper .available {
    width: 50%;
    float: left;
    background-color: rgba(48,167,93,.7);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-wrapper .extra-text {
    width: 50%;
    float: left;
    background-color: rgba(225,227,41,.7);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.available  h1{
    padding: 30px;
    width: 70%;
    font-family: "Bad Script", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.job-wrapper span {
    text-decoration: underline;
}
.extra-text  p{
    padding: 30px;
    width: 70%;
    font-family: "Bad Script", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: darkslategray;
}