nav.social {
    width: 20%;
    float: left;
    padding-top: 22px;
    min-width: 250px;
}

nav.social a {
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans Narrow", monospace, sans-serif;
    font-size: 1.3em;
    letter-spacing: .5px;
}

.so-high,.so-low {
    width: 100%;
    float: left;
}
.so-high a {
    color: #fff;
    position: relative;
    top: 6px;
}
.so-low a {
    color: #000;
    position: relative;
    top: -10px;
}
#hide {
    visibility: hidden;
}
.so-high a:first-child:hover {
    color: #1fe5e3;
    transition: .4s;
}
.so-high a:last-child:hover {
    color: #dccc5e;
    transition: .4s;
}
.so-low a:hover {
    color: #2a5793;
    transition: .4s;
}

nav.main-nav {
    width: 50%;
    float: right;
    padding-top: 13px;
    padding-right: 60px;
    box-sizing: border-box;
}
.main-nav div {
    width: 100%;
    display: block;
    text-align: right;
}
.nav-low {
    margin-top: -20px;
}
.main-nav a {
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans Narrow", monospace, sans-serif;
    font-size: 2em;
    letter-spacing: .5px;
    margin: 0 10px;
    font-weight: bolder;
}
.nav-high a {
    color: #fff;
    top: 2px;
}
.nav-high a:last-child,.nav-low a:last-child {
    background-color: #fff;
    color: #000;
    padding: 0 10px;
}
.nav-high a:last-child {
    padding-bottom: 5px;
    background-color: #109e82;
    color: white;
}
.nav-low a {
    color: #000;
    top: -6px;
}
.nav-high a:first-child:hover {
    color: darkseagreen;
    transition: .2s;
}
.nav-high a:last-child:hover {
    color: #000;
    background-color: #4fd48e;
    transition: .2s;
    box-shadow: 8px 8px 20px -5px rgba(0,0,0,0.5); 
}
.nav-low a:hover {
    color: indianred;
    transition: .2s;
}

.side-navigation {
    display: none;
    height: 100vh;
    width: 100px;
    position: absolute;
    z-index: ;
    right: 0;
    background-color: white;
    overflow-y: auto;
}
.side-navigation a {
    display: block;
    padding: 7px 0;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: "PT Sans Narrow", monospace;
    font-size: 1.em;
    text-transform: uppercase;
}
.side-navigation a:hover {
    background-color: whitesmoke;
    transition: .3s;
}
.side-navigation a#email-button {
    background-color: teal;
    color: white;
}
.side-navigation a#email-button:hover {
    background-color: steelblue;
    transition: .3s;
    
}
.side-navigation hr {
    width: 50px;
    margin: 5px auto 0 auto;
}

.OPEN {
            display: none;
            text-decoration: none;
            width: 50px;
            height: 50px;
            position: fixed;
            top: 0;
            right: 0;
            box-sizing: border-box;
            color: white;
            text-align: center;
            z-index: 11;
            padding-top: 10px;
    
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}



/* .animated-push-sidebar {
    animation: push-sidebar .3s ease-in-out;
    -webkit-animation: push-sidebar .3s ease-in-out;
}
.animated-push-openNAV {
    animation: push-openNAV .3s ease-in-out;
    -webkit-animation: push-openNAV .3s ease-in-out;
}
@keyframes push-sidebar {
    0% {right: -100px;}
    100% {right: 0;}
}
@-webkit-keyframes push-sidebar {
    0% {right: -100px;}
    100% {right: 0;}
}
@keyframes push-openNAV {
    0% {right: -50px;}
    100% {right: 0;}
}
@-webkit-keyframes push-sidebar-openNAV {
    0% {right: -50x;}
    100% {right: 0;}
}*/






































