body {
    margin: 0;
    background-color: #fff;
}

.page {
    width: 100%;
}

#loader {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50vh;
    left: 50%;
    border: 0px;
    border-top: 60px solid black;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: -60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#inner-loader {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0px;
    border-left: 30px solid teal;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: -30px;
    background-color: white;
    -webkit-animation: spin .7s linear infinite reverse;
    animation: spin .7s linear infinite reverse;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




